:root {
  --primary-color: #8b7355;
  --border-color: #ccc;
  --text-color: #333;
  --placeholder-color: #666;
  --input-padding: 8px 12px;
  --header-footer-bg: #1a1a1a;
  --header-footer-text-color: white;
}

a {
  color: var(--header-footer-text-color);
}

a:hover, a:focus, a:active {
  color: var(--primary-color);
  text-decoration: none;
}

.App {
  text-align: center;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  display: grid;
}

.Header {
  background-color: var(--header-footer-bg);
  z-index: 1;
  padding: 1em 0;
  position: relative;
  box-shadow: 0 4px 8px #0003;
}

.Header:before, .Header:after {
  content: "MMXXV";
  color: #fffff066;
  font-size: 1.75em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Header:before {
  left: 1em;
}

.Header:after {
  right: 1em;
}

@media screen and (width <= 768px) {
  .Header:before, .Header:after {
    display: none;
  }
}

.Header h1 {
  padding: var(--input-padding);
  color: var(--header-footer-text-color);
  margin: 0;
  position: relative;
}

.Header h1:before, .Header h1:after {
  content: "-";
  font-size: 1.25em;
}

.Header h1:before {
  position: relative;
  left: -.25em;
}

.Header h1:after {
  position: relative;
  right: -.25em;
}

@media screen and (width <= 768px) {
  .Header h1 {
    font-size: 1.25rem;
  }
}

.font-cinzel {
  font-family: Cinzel, serif;
}

body {
  background-color: #e8cebf;
  margin: 0;
  padding: 0;
  font-family: Cinzel, serif;
}

.Main {
  background-color: #0000;
  background-image: linear-gradient(#f9f9f966, #f9f9f9e6), url("colosseum.f1f6837a.webp");
  background-position: 0 0, center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  background-attachment: scroll, fixed;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  min-height: 500px;
  display: flex;
}

@media screen and (width <= 768px) {
  .Main {
    gap: 2em;
  }
}

.Footer {
  background-color: var(--header-footer-bg);
  z-index: 2;
  color: var(--header-footer-text-color);
  padding: 1em 2em;
  font-size: .8rem;
  font-weight: 600;
  position: relative;
  box-shadow: 0 -4px 8px #0003;
}

.Footer a {
  color: var(--header-footer-text-color);
}

.Footer a[target="_blank"]:after {
  content: "🔗";
  margin-left: .5em;
  font-size: .8rem;
  font-weight: 600;
}

.sOPVsW_container {
  backdrop-filter: blur(6px);
  background-color: #f9f9f9cc;
  border-radius: 10px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1em auto auto;
  padding: 1rem 7rem;
  display: flex;
  position: relative;
  box-shadow: 0 0 10px #0003;
}

@media screen and (width <= 768px) {
  .sOPVsW_container {
    text-align: center;
    width: 80%;
    min-width: auto;
    max-width: 80%;
    margin-top: 0;
    padding: 1rem;
  }

  .sOPVsW_container:before, .sOPVsW_container:after {
    font-size: 1.25rem;
  }

  .sOPVsW_container:before {
    top: auto;
    bottom: .5rem;
    left: .5rem;
  }

  .sOPVsW_container:after {
    top: auto;
    bottom: .5rem;
    right: .5rem;
  }
}

.sOPVsW_container:before, .sOPVsW_container:after {
  content: "⚔️";
  color: #4a4a4a;
  z-index: 1;
  text-shadow: 2px 2px 4px #0003;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sOPVsW_container:before {
  left: 1.5rem;
}

.sOPVsW_container:after {
  right: 1.5rem;
}

@media screen and (width <= 768px) {
  .sOPVsW_container:before, .sOPVsW_container:after {
    font-size: 1.25rem;
  }

  .sOPVsW_container:before {
    top: auto;
    bottom: .5rem;
    left: 1rem;
  }

  .sOPVsW_container:after {
    top: auto;
    bottom: .5rem;
    right: 1rem;
  }
}

.sOPVsW_label {
  color: var(--text-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (width <= 768px) {
  .sOPVsW_label {
    font-size: .8rem;
  }
}

.sOPVsW_inputWrapper {
  width: max-content;
  position: relative;
}

.sOPVsW_input {
  padding: var(--input-padding);
  border: 4px solid var(--border-color);
  text-align: center;
  width: max-content;
  min-width: 250px;
  font-size: 2rem;
  position: relative;
}

.sOPVsW_input::placeholder {
  opacity: 0;
}

.sOPVsW_placeholder {
  color: var(--placeholder-color);
  text-align: center;
  pointer-events: none;
  width: 100%;
  font-family: Cinzel, serif;
  font-size: .9rem;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sOPVsW_input:placeholder-shown + .sOPVsW_placeholder {
  display: block;
}

.sOPVsW_input:focus + .sOPVsW_placeholder {
  display: none;
}

.sOPVsW_display {
  color: var(--placeholder-color);
  margin: 0;
  font-size: .9rem;
}

.sOPVsW_highlight {
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
}

.r7Gx5W_romannumeral {
  text-shadow: 2px 2px 4px #0003;
  background-color: #f5e6d3;
  border: 2px solid #8b7355;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 460px;
  max-width: max-content;
  height: 100px;
  margin: auto auto 1em;
  padding: 2rem 3rem;
  display: flex;
  position: relative;
  box-shadow: inset 0 0 20px #8b735566, 0 0 10px #0003;
}

@media screen and (width <= 768px) {
  .r7Gx5W_romannumeral {
    width: 80%;
    min-width: 230px;
    max-width: 80%;
    height: 50px;
    margin-top: 3em;
    margin-bottom: 0;
    padding: 2rem 1rem;
    font-size: 2rem;
  }
}

.r7Gx5W_romannumeral:before, .r7Gx5W_romannumeral:after {
  content: "🌿";
  color: #4a4a4a;
  z-index: 1;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.r7Gx5W_romannumeral:before {
  left: -4rem;
}

.r7Gx5W_romannumeral:after {
  right: -4rem;
  transform: translateY(-50%)scaleX(-1);
}

@media screen and (width <= 768px) {
  .r7Gx5W_romannumeral:before, .r7Gx5W_romannumeral:after {
    font-size: 3rem;
  }

  .r7Gx5W_romannumeral:before {
    left: .5rem;
  }

  .r7Gx5W_romannumeral:after {
    right: .5rem;
  }
}

.r7Gx5W_romannumeral > * {
  justify-content: center;
  align-items: center;
  display: flex;
}

.r7Gx5W_result {
  color: #333;
  text-shadow: 2px 2px 4px #0003;
  min-width: 460px;
  max-width: max-content;
  height: 100px;
  margin: 0;
  padding: 2rem 3rem;
  font-family: Cinzel, serif;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
}

.r7Gx5W_result span {
  color: #8b7355;
  font-size: 1.6rem;
  font-weight: normal;
}

@media screen and (width <= 768px) {
  .r7Gx5W_result {
    width: 100%;
    min-width: 230px;
    max-width: 80%;
    height: 50px;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=index.2212206d.css.map */
